<section>
  <div class="col-md-10">
    <h3 class="fw-normal mb-5" style="letter-spacing: 1px;">Change Password</h3>
    <!-- Error message display -->
    @if (errorMessage) {
    <div class="alert alert-danger mb-3" [innerHTML]="errorMessage">
    </div>
    }
    @if (infoMessage) {
    <div class="alert alert-info mb-3">
      {{ infoMessage }}
    </div>
    }
    <div class="card p-5 pt-3 pb-3 shadow" style="width: 600px; margin: auto;">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <!-- Phone Number -->
        <div class="form-group mb-2">
          <label for="phoneNumber">Phone Number</label>
          <input id="phoneNumber" formControlName="phoneNumber" class="form-control" autocomplete="username" />
          @if (changePasswordForm.get('phoneNumber')?.invalid && changePasswordForm.get('phoneNumber')?.touched) {
          <div class="text-danger">
            <small *ngIf="changePasswordForm.get('phoneNumber')?.errors?.['required']">Phone Number is required.</small>
            <small *ngIf="changePasswordForm.get('phoneNumber')?.errors?.['pattern']">Phone Number must contain only
              digits.</small>
          </div>
          }
        </div>
        <!-- Old Password Field -->
        <div class="form-outline mb-2">
          <label for="oldPassword">Old Password</label>
          <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control"
            autocomplete="current-password" maxlength="15" />
          <!-- Old Password Validation Messages -->
          <div *ngIf="changePasswordForm.get('oldPassword')?.touched && changePasswordForm.get('oldPassword')?.invalid"
            class="text-danger mt-1">
            <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']">
              Old Password is required.
            </small>
            <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.['minlength']">Password must be at least 8
              characters.
            </small>
          </div>
        </div>

        <!-- New Password Field -->
        <div class="form-outline mb-2">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" formControlName="newPassword" class="form-control"
            autocomplete="new-password" maxlength="15"/>
          <!-- New Password Validation Messages -->
          <div *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid"
            class="text-danger mt-1">
            <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">
              Password is required.
            </small>
            <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 8
              characters.
            </small>
          </div>
        </div>

        <!-- New Password Field -->
        <div class="form-outline mb-2">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
            autocomplete="new-password" maxlength="15"/>
          <!-- New Password Validation Messages -->
          <div
            *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.invalid"
            class="text-danger mt-1">
            <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">
              Password is required.
            </small>
            <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['minlength']">Password must be at least 8
              characters.
            </small>
          </div>
        </div>

        <div class="mt-4">
          <button type="submit" class="btn btn-primary w-100" [disabled]="changePasswordForm.invalid">Change</button>
        </div>
      </form>
    </div>
  </div>
</section>