<div class="header-nav-container ms-3">
  <header>
    <img src="assets/logo.png" alt="A nail shop" />
  </header>

  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="admin/appointments">Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/employees">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/customers">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/services">Service</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="me-3">
    <span>User: {{loginUser}}</span>
    <button type="button" class="btn btn-secondary ms-2" (click)="logout()">Logout</button>
  </div>

</div>
<br/>