/* You can add global styles to this file, and also import other style files */
body, input {
  font-size: 1rem;
  line-height: 2.15;
  /* background-color: #ecfaf5; */
  /* background-color: #f7e0e3; */
}

.btn-primary {
  background-color: #f61491 !important;
  border: 1px solid #f61491 !important;
}

h2, h3 {
  color: #f61491;
}

th {
  background-color: #ffb7ce !important;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

section {
  height: 100vh;
  margin-top: 1rem;
  padding-left: 3rem;
}
